# To be changed to released versions once allennlp-semparse unpins allennlp.
git+https://github.com/allenai/allennlp@8bc5da2d7d0050374c78b52adde7149425e3b52a
git+https://github.com/allenai/allennlp-semparse@002f97b34277356333eac7937924a3b7ad48fb24
git+https://github.com/allenai/allennlp-reading-comprehension@c241f324e8a5af5197808b0f6dc629f1513add54
